@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans';
    margin: -15px;
}

a{
    text-decoration: none;
    
}

div#container{
    margin: auto;
    width: 100%;
        margin-top: -17px;
}
.sidebar {
    border-radius: 10px 8px;
    padding-top: 0px;
    width: 250px;
    height: 680px;
    background-color:#091b28 !important;
    float: left;
}
.a
{
    text-decoration:none; 
}
.content{
    width: auto;
    height: 680px;
    background-color: #EEEEEE ;
    padding: 10px;
    padding-left: 100px;
}
ul#navleft{
    
}
ul li{
    list-style: none;
    margin-bottom: 10px;
}
.sidebar ul li a{
    color: white;
    padding: 10px;
    display: block;
    font-size: 1.2em;
    /*border-bottom: 2px solid #F27935;*/
    text-align: center;
    text-decoration: none;
}
ul#nav li a:hover{
    padding-left: 20px;
    background-color: red ;
}

.header-name{
    float:right;
    color: azure;
    margin-top:30px;
    margin-right: 30px;
    
}

.active{
    background-color: #0098fa !important;
      border-radius: 10px 8px;
}
div#wrapper
{
    padding: 0px;
    margin: 0px;
    
}
.cellToolTip {
    overflow: visible;
}

.tooltip {
  top: 0 !important;
}
div#color a{
   display: table; 
   width: 300px; 
   height: 240px; 
 vertical-align: middle; 
    text-align: center; 
    position: relative;
}

div#color a span b{
  font-size: 1.5em; font-weight: normal; padding: 8px 12px; border-radius: 5px; background: #6bbe70; color: #fff; font-family: sans-serif;  
}
div#color a:hover{
    background: #000;
}
span#download b:hover
{background: #000;}

div#color a:hover span{
  width: 300px; height: 240px; line-height: 240px; position: absolute; left: 0; top: 0; display: block; text-align: center; background: rgba(67,81,96,0.7);  
}

span#download {display: none;}


