<div>
<div ng-include="'template/blocks/header.html'"></div>
<div id="container">
   <div ng-include="'template/blocks/aside.html'"></div>
    <div class="content">
    
        
        <div class="col-lg-10">
         <div class="tab-pane" id="tab_e">
                    <h4>Website/App References: </h4>

                          <div class="form-group">
                              <label for="comment"></label>
                              <textarea class="form-control" rows="5" id="comment" data-toggle="tooltip" data-placement="top" title="Example of website/app which would like us to favourite Before starting    "></textarea>
                          </div>



                          <ul class="pager">
                              <li class="previous"><a href="#">Previous</a></li>
                              <li class="next"><a href="#tab_f" data-toggle="tab">Next</a></li>
                          </ul><!--pager end here---------->
                </div><!--end of the tab content-(e)-->
        </div>
    </div>    
    </div>
    
</div>