 <div class="sidebar">
        <ul id="navleft">
            <li ng-class="{active:headerName=='Client Infromation'}"><a href="#clientInfo">Client Information</a></li>
            <li ng-class="{active:headerName=='App Info'}"><a href="#appInfo">App Information</a></li>
            <li ng-class="{active:headerName=='Target Info'}"><a href="#targetAudience">Target Audience</a></li>
            <li ng-class="{active:headerName=='Color Palette'}"><a href="#colorPalette">Color Palette</a></li>
            <li ng-class="{active:headerName=='Reference Website'}"><a href="#referenceWebsite">Reference App  | Website</a></li>
             <li ng-class="{active:headerName=='Logo'}"><a href="#logoPreference">Logo Design  Preference</a></li>
            
        </ul>
    </div>